<div class="container">
<button data-toggle="collapse" data-target="#all">All</button>
<button data-toggle="collapse" data-target="#smoking">Smoking allowed</button>

<div id="all" class="collapse">
<table class="table">
<%= paginate @listing %>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Country</th>
      <th scope="col">State</th>
      <th scope="col">City</th>
      <th scope="col">Price</th>
      <th scope="col">Verified</th>
      <th scope="col">Interested?</th>
    </tr>
  </thead>
<tbody>
<% @listing.each do |listing| %>
<tr>
         <td><%= link_to listing.name, listing_path(listing) %></td>
         <td><%= listing.description %></td>
         <td><%= listing.country %></td>
         <td><%= listing.state %></td>
         <td><%= listing.city %></td>
         <td><%= listing.price %></td>
         <td><%= listing.verified %></td>
         <td><%=button_to "Reserve Now", "/listings/#{listing.id}/reservations/new", method: :get %></td>
</tr>
<% end %>
</tbody>
</table>
</div>
    
<div id="smoking" class="collapse">
  <table class="table">
<%= paginate @smoking %>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Country</th>
      <th scope="col">State</th>
      <th scope="col">City</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
<tbody>
<% @smoking.each do |listing| %>
<tr>  
         <td><%= link_to listing.name, listing_path(listing) %></td>
         <td><%= listing.description %></td>
         <td><%= listing.country %></td>
         <td><%= listing.state %></td>
         <td><%= listing.city %></td>
         <td>Price : <%= listing.price %></td>
         <td><%=button_to "Reserve Now", "/listings/#{listing.id}/reservations/new", method: :get %></td>
</tr>
<% end %>
</tbody>
</table>
</div>

</div>  